<nb-card>
  <nb-card-header>Default Buttons</nb-card-header>
  <nb-card-body>

    <div class="row show-grid">
      <div class="col-md-4">
        <div><button  nbButton status="primary" (click)="gotoVenteRapide()">
          Vente rapide
        </button></div>
      </div>
      <div class="col-md-4">
        <div><button nbButton status="success" (click)="gotoVenteParticulier()">
          Vente particulier
        </button></div>
      </div>
      <div class="col-md-4">
        <div>  <button nbButton status="warning" (click)="gotoVenteEntreprise()">
          Vente entreprise
        </button></div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
