<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <div class="">
      <nb-card>
        <nb-card-header style="background-color: #2d8ac7">Liste Achats</nb-card-header>
        <nb-card-body>
    <table class='table table-bordered'>
      <thead style='background-color: #2d8ac7'>
      <tr>
        <th>#</th>
        <th>Date Achat</th>
        <th>Produit(s) Acheté(s)</th>
   
      
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope='row'>1</th>
        <td>ordi</td>
        <td><a class='btn btn-success btn-xs' ><i class="fa fa-eye" aria-hidden="true"></i> Voir Facture </a></td>
    
        
      </tr>
      <tbody>
      <tr>
        <th scope='row'>1</th>
        <td>ordi</td>
        <td><a class='btn btn-success btn-xs' ><i class="fa fa-eye" aria-hidden="true"></i> Voir Facture </a></td>
      </tr>
      <tbody>
      <tr>
        <th scope='row'>1</th>
        <td>ordi</td>
        <td><a class='btn btn-success btn-xs' ><i class="fa fa-eye" aria-hidden="true"></i> Voir Facture </a></td>
   
    
      </tr>
     

      </tbody>
    </table>
  </nb-card-body>
</nb-card>

</div>
</nb-card-body>
</nb-card>


