<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Recherche Facture</nb-card-header>
      <nb-card-body>
        <form class="form-inline" #f="ngForm" (ngSubmit)="validervente(f.value)">

          <input type="text" nbInput fullWidth placeholder="Numéro Facture" required="required" name="NumeroFacture" ngModel >
          <div class="form-group">
            <button  type="submit" [disabled]="!f.valid" nbButton status="primary">Rechercher</button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
