<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <div class="">
      <nb-card >
        <nb-card-header style="background-color: #2d8ac7">Vente Rapide</nb-card-header>
        <nb-card-body>
          <form #f="ngForm"  (ngSubmit)="onLogin(f)" >
            <div class="form-group" style="text-align: center">
              <label  class="label "   >Categorie</label>
              <nb-select  fullWidth="true" name="idcategorie"  [(ngModel)]="contenue.idcategorie" (ngModelChange)="recuperation($event)">
                <nb-option *ngFor="let c of categorie" [value]="c.id" >{{c.libelle}}</nb-option>
              </nb-select>
            </div>
            <div class="form-group" style="text-align: center" *ngIf="produit">
              <label  class="label">Produit</label>
              <nb-select  fullWidth="true" name="idProduit" [(ngModel)]="contenue.idproduit">
                <nb-option >veuiller choisir un produit</nb-option>
                <nb-option *ngFor="let p of produit" [value]="p.id" >{{p.libelle}}</nb-option>
              </nb-select>
            </div>
            <div class="form-group" style="text-align: center">
              <label  class="label">Quantite</label>
              <input type="number" nbInput fullWidth status="info" required="required" placeholder="Enter la quantite" name="Quantite" [(ngModel)]="contenue.quantite">
            </div >
            <div class="form-group" style="text-align: center">
              <label  class="label">Prix unitaire</label>
              <input type="number" nbInput fullWidth status="info" required="required" placeholder="Enter le prix unitaire" name="PrixUnitaire" [(ngModel)]="contenue.pu">
            </div>
            <div class="buttons-row" style="text-align: center">
            <button type='reset'nbButton status='danger' class="btn">Annuler</button>
            <button type='submit'nbButton status='success' class="btn">Submit</button>
            </div>


            <br>
            <br>
            <br>

          </form>
          <table class='table table-bordered'>
            <thead style='background-color: #2d8ac7'>
            <tr>
              <th>#</th>
              <th>Produit</th>
              <th>Quantite</th>
              <th>Prix</th>
              <th>Montant</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let t of tableau;let i=index" >
              <th scope='row'>{{i}}</th>
              <td>{{t.libelle}}</td>
              <td>{{t.quantite}}</td>
              <td>{{t.prixUnitaire}}</td>
              <td>{{t.montant}}</td>
              <td><a class='btn btn-danger btn-xs' (click)="suprimer(t.produit_id)" ><i class='fa fa-trash-o'></i> Supprimer </a></td>
            </tr>

            <tr>
              <td colspan='4' ><b>TOTAL:</b></td>

              <td><b>{{montant}}</b></td>
            </tr>

            </tbody>
          </table>
          <br>
          <br>
          <br>
          <div class="buttons-row" *ngIf="tableau">
            <button nbButton status="danger" (click)="anullerVente()">Annuler</button>
            <button nbButton status="primary" name="venteEntreprise" (click)="validerVenteRapide()">VALIDER VENTE</button>
          </div>
        </nb-card-body>
      </nb-card>

    </div>
  </nb-card-body>
</nb-card>


