<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <div class="">
      <nb-card >
        <nb-card-header style="background-color: #2d8ac7; text-align: center;">Vente rapide</nb-card-header>
        <nb-card-body>

          <form #f="ngForm"  (ngSubmit)="onLogin(f)" >


            <mat-form-field class="example-full-width"  >
              <mat-label>Catégorie</mat-label>
              <input type="text"  matInput [formControl]="myControl" name="idcategorie" [matAutocomplete]="auto"  (ngModelChange)="recuperation($event)" >
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option"  >
                  {{option.libelle}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="example-full-width"  >
              <mat-label>Produit</mat-label>
              <input type="text"  matInput [formControl]="myControl1" name="idproduit" [matAutocomplete]="auto1"  (ngModelChange)="recuper($event)" >
              <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let opt of filteredproduit | async" [value]="opt"  >
                  {{opt.libelle}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <div class="form-group" style="text-align: center" *ngIf="produit">
              <label  class="label">Produit</label>
              <select  fullWidth class="form-control" name="idProduit" [(ngModel)]="contenue.idproduit">
                <option >Veuiller choisir un produit</option>
                <option *ngFor="let p of produit" [value]="p.id" >{{p.libelle}}</option>
              </select>
            </div>
            <div class="form-group" style="text-align: center">
              <label  class="label">Quantité</label>
              <input type="number" nbInput fullWidth status="info" required="required" placeholder="Enter la quantité" name="Quantite" [(ngModel)]="contenue.quantite" min="1">
            </div >
            <div class="form-group" style="text-align: center">
              <label  class="label">Prix unitaire</label>
              <input type="number" nbInput fullWidth status="info" required="required" placeholder="Enter le prix unitaire" name="PrixUnitaire" [(ngModel)]="contenue.pu" min="1">
            </div>
            <div class="buttons-row" style="text-align: center">
            <button type='reset'nbButton status='danger' class="btn">Annuler</button>
            <button type='submit'nbButton status='success' [disabled]="!f.valid" class="btn">Valider</button>
            </div>


            <br>
            <br>
            <br>

          </form>
          <table class='table table-bordered'>
            <thead style='background-color: #2d8ac7'>
            <tr>
              <th>#</th>
              <th>Produit</th>
              <th>Quantité</th>
              <th>Prix</th>
              <th>Montant</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody style='background-color:white'>
            <tr *ngFor="let t of tableau;let i=index" >
              <th scope='row'>{{i+1}}</th>
              <td>{{t.libelle}}</td>
              <td>{{t.quantite}}</td>
              <td>{{t.prixUnitaire}}</td>
              <td>{{t.montant}}</td>
              <td><a class='btn btn-danger btn-xs' (click)="suprimer(t.produit_id)" ><i class='fa fa-trash-o'></i> Supprimer </a></td>
            </tr>

            <tr>
              <td colspan='4' ><b>TOTAL:</b></td>

              <td><b>{{montant}}</b></td>
            </tr>

            </tbody>
          </table>
          <br>
          <br>
          <br>
          <div class="buttons-row" *ngIf="tableau">
            <button nbButton status="danger" (click)="anullerVente()">Annuler</button>
            <button nbButton status="primary" name="venteEntreprise" [disabled]="!valider" (click)="validerVenteRapide()">VALIDER VENTE</button>
          </div>
        </nb-card-body>
      </nb-card>

    </div>
  </nb-card-body>
</nb-card>


