
<nb-card>
  <nb-card-header>Facture Proformat</nb-card-header>
  <nb-card-body>

    <div class="row show-grid">

      <div class="col-md-4">
        <div><button nbButton status="success" (click)="gotoProformatParticulier()">
          Proformat Particulier
        </button></div>
      </div>
      <div class="col-md-4">
        <div>  <button nbButton status="warning" (click)="gotoProformatEntreprise()">
          Proformat Entreprise
        </button></div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
