<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <div class="">
      <nb-card>
        <nb-card-header style="background-color: #2d8ac7">Liste Gérants</nb-card-header>
        <nb-card-body>
    <table class='table table-bordered'>
      <thead style='background-color: #2d8ac7'>
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Téléphone</th>
        <th>Profil</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope='row'>1</th>
        <td>ordi</td>
        <td>12</td>
        <td>ordi</td>
        <td>12</td>
        <td><a class='btn btn-danger btn-xs' ><i class="fa fa-trash" aria-hidden="true"></i> Supprimer </a>
         <a class='btn btn-warning btn-xs' ><i class="fa fa-edit" aria-hidden="true"></i> Modifier </a></td>
      </tr>
      <tbody>
      <tr>
        <th scope='row'>1</th>
        <td>ordi</td>
        <td>12</td>
        <td>ordi</td>
        <td>12</td>
        <td><a class='btn btn-danger btn-xs' ><i class="fa fa-trash" aria-hidden="true"></i> Supprimer </a>
          <a class='btn btn-warning btn-xs' ><i class="fa fa-edit" aria-hidden="true"></i> Modifier </a></td>
      </tr>
      <tbody>
      <tr>
        <th scope='row'>1</th>
        <td>ordi</td>
        <td>12</td>
        <td>ordi</td>
        <td>12</td>
        <td><a class='btn btn-danger btn-xs' ><i class="fa fa-trash" aria-hidden="true"></i> Supprimer </a>
          <a class='btn btn-warning btn-xs' ><i class="fa fa-edit" aria-hidden="true"></i> Modifier </a></td>
    
      </tr>
     

      </tbody>
    </table>

  </nb-card-body>
</nb-card>

</div>
</nb-card-body>
</nb-card>


