<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <div class="inner-addon left-addon">
      <i class="glyphicon glyphicon-search"></i>
      <input type="text" class="form-control" placeholder="RECHERCHE PAR DATE..." [(ngModel)]="filterString"/>
  </div>
<br>
    <div class="">
      <nb-card>
        <nb-card-header style="background-color: #2d8ac7">Caisse Mensuelle</nb-card-header>
        <nb-card-body>
    <table class='table table-bordered'>
      <thead style='background-color: #2d8ac7'>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Nom Client</th>
        <th>Nom Vendeur</th>

        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let t of (tableau | filterCaisseMensuelle: filterString) | paginate:{ itemsPerPage:10,currentPage:p};let i=index" >
        <th scope='row'>{{i+1}}</th>
        <td>{{t.dateVente}}</td>
        <td *ngIf="t.prenomClient && t.prenomClient=='anonyme'">{{t.nomClient}}</td>
        <td *ngIf="t.nomClient">{{t.prenomClient }} {{t.nomClient}}</td>
        <td *ngIf="t.raisonSocialClient"> {{t.raisonSocialClient}}</td>
        <td>{{t.prenom }} {{t.nom}}</td>
        <td> <button nbButton status="success" (click)="gotoFacture(t.id)">Voir Facture</button></td>

      </tr>
      </tbody>

    </table>
    <pagination-controls (pageChange)="p= $event"></pagination-controls>
    <h3 align="center">Total vendu    :  <b> {{total}}</b>CFA</h3>
  </nb-card-body>
</nb-card>

</div>
</nb-card-body>
</nb-card>


