<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <div class="">
      <nb-card>
        <nb-card-header style="background-color: #2d8ac7">Catégories</nb-card-header>
        <nb-card-body>
    <table class='table table-bordered'>
      <thead style='background-color: #2d8ac7'>
      <tr>
        <th>#</th>
        <th>Libelle Catégorie</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let g of categorie; let i =index" >
          <th scope='row'>{{i+1}}</th>
      <td class=''>{{g.libelle}}</td>
    

      <td>
        <button button nbButton (click)="openWithoutEscClose(dialogSup,g.id)"><i class="fa fa-trash" aria-hidden="true"></i>Supprimer</button>
        <button class='btn btn-warning btn-xs' (click)="openWithoutEscClose2(dialog,g.id)"></button>><i class="fa fa-edit" aria-hidden="true"></i> Modifier </button></td>
    
   
      </tr>
     

      </tbody>
    </table>
  
  </nb-card-body>
</nb-card>

</div>
</nb-card-body>
</nb-card>

<ng-template #dialogSup let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Template Dialog</nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button type="submit" class='btn btn-success btn-xs' (click)="deleteGerant(gerant.id)">Supprimer</button>
      <button nbButton (click)="ref.close()">Close Dialog</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header style="background-color: #2d8ac7">Modification Catégorie</nb-card-header>
    <nb-card-body>
      <form #form="ngForm" (ngSubmit)="ModifierCategorie(form)">
        <div class="form-group row">
          <label for="inputEmail1" class="label col-sm-3 col-form-label">libelle</label>
          <div class="col-sm-9">
            <input type="text" #libelle="ngModel" value="{{modifCategorie.libelle}}" name="libelle" [(ngModel)]="service.cat.libelle" nbInput fullWidth  placeholder="Libelle Catégorie" required="required">
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-3 col-sm-9">
            <button type="submit" class='btn btn-success btn-xs'>Modifier</button>
            <button  type="submit" class='btn btn-primary btn-xs' (click)="ref.close()">Annuler</button>
          </div>
        </div>
    </form>
  </nb-card-body>
</nb-card>
</ng-template>

