<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <div class="">
      <nb-card>
        <nb-card-header style="background-color: #2d8ac7">LISTE DES PRODUITS EN STOCK</nb-card-header>
        <nb-card-body>
    <table class='table table-bordered'>
      <thead style='background-color: #2d8ac7'>
      <tr>
        <th>#</th>
        <th>Libelle Produit</th>
        <th>Catégorie</th>
        <th>Quantité</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let t of tableau ;let i =index">
        <th scope='row'>{{i+1}}</th>
        <td>{{t.produit}}</td>
        <td>{{t.categorie}}</td>
        <td>{{t.quantite}}</td>

      </tr>

      </tbody>
    </table>
  </nb-card-body>
</nb-card>

</div>
</nb-card-body>
</nb-card>


